* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}
.grid-item {
  padding: 20px;
}
.buyButton {
  font-size: 15px;
  padding: 10px;
  background-color: green;
  width: 200px;
  border: 0px solid green;
  color: white;
  cursor: pointer;
}
.love-button {
  margin-left: 10px;
  height: 35px;
  width: 40px;
  background-color: white;
  border: 1px solid black;
  cursor: pointer;
}
.love-button:hover {
  background-color: red;
  color: white;
  transition-duration: 500ms;
}
.button {
  cursor: pointer;
}
button:active {
  filter: brightness(50%);
  box-shadow: 0px 0px 10px black;
}
.buyButton:hover {
  background-color: rgb(29, 180, 29);
  transition-duration: 500ms;
}
header {
  border-bottom: 1px solid;
  margin: auto;
  display: inline;
  width: 100%;
  background-color: blue;
}
#headerNav {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
.logo {
  float: left;
  margin-right: 10px;
  margin-left: 20px;
}
.logo h1 {
  line-height: 50px;
}
.navBar {
  overflow: hidden;
  position: relative;
  margin: 14px;
}
.navBar ul li {
  display: inline;
  font-size: 17px;
  padding: 8px 17px;
  border-radius: 5px;
  margin-left: 10px;
}

a {
  text-decoration: none;
  color: black;
}
.iconNavbar svg {
  width: 24px;
  height: 24px;
  float: right;
  margin-left: 30px;
}
.search {
  float: right;
  padding: 3px 10px;
  width: 300px;
}
.search-btn {
  margin-left: 10px;
}

.navBar a:hover {
  color: blue;
  transition-duration: 300ms;
}

#loc-nav {
  margin: 24px 50px 0px;
}
footer {
  background: #111;
  height: auto;
  width: 100vw;
  font-family: "montserrat";
  padding-top: 40px;
  color: #fff;
}
.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.footer-content h3 {
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
}
.footer-content p {
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
}
.footer-bottom {
  background: #000;
  width: 100 vw;
  padding: 20px 0;
  text-align: center;
}
.footer-bottom p {
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}
