* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

header {
  border-bottom: 1px solid;
  margin: auto;
  display: inline;
  width: 100%;
  background-color: blue;
}
#headerNav {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
.logo {
  float: left;
  margin-right: 10px;
  margin-left: 20px;
}
.logo h1 {
  line-height: 50px;
}
.navBar {
  overflow: hidden;
  position: relative;
  margin: 14px;
}
.navBar ul li {
  display: inline;
  font-size: 17px;
  padding: 8px 17px;
  border-radius: 5px;
  margin-left: 10px;
}

a {
  text-decoration: none;
  color: black;
}
.iconNavbar svg {
  width: 24px;
  height: 24px;
  float: right;
  margin-left: 30px;
}
.search {
  float: right;
  padding: 3px 10px;
  width: 300px;
}
.search-btn {
  margin-left: 10px;
}

.navBar a:hover {
  color: blue;
  transition-duration: 300ms;
}

main {
  padding: 20px;
  overflow: auto;
}

li {
  list-style: none;
}

aside {
  float: left;
  width: 20%;
  border: 10px;
  box-shadow: 0px 0px 1px black;
  padding: 20px;
  margin: 30px;
  position: fixed;
}

.side-content a {
  text-decoration: none;
  color: black;
  margin: 10px;
}

.list p {
  margin-bottom: 0px;
}

.list a:hover {
  color: blue;
  transition-duration: 300ms;
}

#loc-nav {
  margin: -20px 30px 0px;
  position: fixed;
}

#loc-nav a {
  text-decoration: none;
  color: black;
}

.katalog-produk {
  float: right;
  display: flex;
  width: 70%;
  margin: 30px 30px 0px;
}

.product-title h5 {
  height: 30px;
}

.box {
  flex-grow: 1;
  border: 1px solid gainsboro;
  padding: 10px;
  margin: 5px;
  height: 365px;
  cursor: pointer;
}

.box:hover {
  transition-duration: 500ms;
  box-shadow: 0px 0px 5px black;
}

.picture {
  width: 200px;
  height: 180px;
}

.picture img {
  display: block;
  max-width: 180px;
  max-height: 180px;
  width: auto;
  height: auto;
  bottom: 0;
  left: 0;
  margin: auto;
  max-width: 100%;
  right: 0;
  top: 0;
}

.button {
  text-decoration: none;
  border-radius: 7px;
  padding: 7px;
  display: block;
  float: left;
  margin: 5px;
  text-align: center;
  cursor: pointer;
}

.button:hover {
  transition-duration: 500ms;
}

button:active {
  filter: brightness(50%);
  box-shadow: 0px 0px 10px black;
}

.buy-button {
  width: 70%;
  background-color: white;
  border: 1px solid gainsboro;
  box-shadow: 0px 0px 1px black;
}

.buy-button:hover {
  background-color: green;
  color: white;
}

.love-button {
  background-color: white;
  border: 1px solid gainsboro;
  box-shadow: 0px 0px 1px black;
  width: 20%;
}

.love-button:hover {
  background-color: red;
  color: white;
}

footer {
  background: #111;
  height: auto;
  width: 100vw;
  font-family: "montserrat";
  padding-top: 40px;
  color: #fff;
  margin-top: 200px;
}
.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.footer-content h3 {
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
}
.footer-content p {
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
}
.footer-bottom {
  background: #000;
  width: 100 vw;
  padding: 20px 0;
  text-align: center;
}
.footer-bottom p {
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}